.DivP1{
    /* margin-top: 5rem; */
    height: 35rem;   
    /* border: solid 1px; */
}
.DivP2{
    margin-top: 5rem;
    margin-left: 1rem;
    /* border: solid 1px; */
    height: 35rem;    

}

.paragrafo{  
    font-family: 'Times New Roman', Times, serif;
    margin-top: 20px;
    font-size: 24px;
}

.AnimacaoIcons{
    margin-left: 40px;
    padding-top: 5rem;
    /* padding-right: rem; */
    margin-top: 6rem;
    font-size: 12rem;
    /* color: rgba(255, 255, 255, 0.377) */
    color: #27292e;
    
    
}
